# image: https://hub.docker.com/_/odoo
# docs: https://github.com/odoo/docker

version: "3.8"

services:
  odoo:
    image: ${W9_REPO}:${W9_VERSION}
    container_name: ${W9_ID}
    ports:
      - ${W9_HTTP_PORT_SET}:${W9_HTTP_PORT}
    volumes:
      - odoo_web:/var/lib/odoo
      - odoo_config:/etc/odoo
      - odoo_addons:/mnt/extra-addons
    env_file: .env
    environment:
      HOST: ${W9_ID}-postgresql
      USER: ${W9_ID}
      PASSWORD: ${W9_POWER_PASSWORD}
    depends_on:
      - postgresql
    restart: unless-stopped

  postgresql:
    image: postgres:14
    container_name: ${W9_ID}-postgresql
    restart: unless-stopped
    volumes:
      - postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: ${W9_ID}
      POSTGRES_PASSWORD: ${W9_POWER_PASSWORD}
      POSTGRES_INITDB_ARGS: --data-checksums
      POSTGRES_HOST_AUTH_METHOD: trust
      PGDATA: /var/lib/postgresql/data
    env_file: .env

volumes:
  odoo_web:
  odoo_config:
  odoo_addons:
  postgres:

networks:
  default:
    name: ${W9_NETWORK}
    external: true
