# image: https://hub.docker.com/r/bitnami/joomla

version: '3.8'

services:
  joomla:
    image: $W9_REPO:$W9_VERSION
    container_name: $W9_ID
    restart: unless-stopped
    ports:
      - ${W9_HTTP_PORT_SET}:8080
    volumes:
      - joomla:/bitnami/joomla
    env_file:
      - .env
    environment:
      - JOOMLA_USERNAME=$W9_LOGIN_USER	
      - JOOMLA_PASSWORD=$W9_LOGIN_PASSWORD
      - JOOMLA_DATABASE_HOST=$W9_ID-mariadb
      - JOOMLA_DATABASE_PORT_NUMBER=3306
      - JOOMLA_DATABASE_NAME=$W9_ID
      - JOOMLA_DATABASE_USER=$W9_ID
      - JOOMLA_DATABASE_PASSWORD=$W9_POWER_PASSWORD
    depends_on:
      - mariadb

  mariadb:
    image: mariadb:$W9_MARIADB_VERSION
    container_name: $W9_ID-mariadb
    restart: unless-stopped
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    volumes:
      - mariadb:/var/lib/mysql
    environment:
      - MARIADB_DATABASE=$W9_ID
      - MARIADB_USER=$W9_ID
      - MARIADB_PASSWORD=$W9_POWER_PASSWORD
      - MARIADB_ROOT_PASSWORD=$W9_POWER_PASSWORD
networks:
  default:
    name: ${W9_NETWORK}
    external: true

volumes:
  joomla:
  mariadb:
