# image,docs: https://hub.docker.com/r/rudderlabs/rudder-server
# docs: https://www.rudderstack.com/docs/get-started/rudderstack-open-source/data-plane-setup/docker/

services:
  db:
    image: postgres:15-alpine
    container_name: $W9_ID-db
    restart: unless-stopped
    shm_size: 128mb
    logging:
      driver: "json-file"
      options:
          max-file: "5"
          max-size: 10m
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    image: $W9_REPO:$W9_VERSION
    container_name: $W9_ID
    restart: unless-stopped
    depends_on:
      - db
      - metrics
      - transformer
    entrypoint: sh -c '/wait-for db:5432 -- /rudder-server'
    logging:
      driver: "json-file"
      options:
          max-file: "5"
          max-size: 10m
    deploy:
      resources:
        limits:
          memory: 4g
          cpus: '2.0'
    ports:
      - $W9_HTTP_PORT_SET:8080
    env_file: .env
    environment:
      - JOBS_DB_HOST=${JOBS_DB_HOST}
      - JOBS_DB_USER=${JOBS_DB_USER}
      - JOBS_DB_PORT=${JOBS_DB_PORT}
      - JOBS_DB_DB_NAME=${JOBS_DB_DB_NAME}
      - JOBS_DB_PASSWORD=${JOBS_DB_PASSWORD}
      - DEST_TRANSFORM_URL=${DEST_TRANSFORM_URL}
      - CONFIG_BACKEND_URL=${CONFIG_BACKEND_URL}
      - WORKSPACE_TOKEN=${WORKSPACE_TOKEN}
      - STATSD_SERVER_URL=${STATSD_SERVER_URL}
      - RSERVER_GATEWAY_WEBHOOK_SOURCE_LIST_FOR_PARSING_PARAMS=${RSERVER_GATEWAY_WEBHOOK_SOURCE_LIST_FOR_PARSING_PARAMS}

  transformer:
    image: rudderlabs/rudder-transformer:latest
    container_name: $W9_ID-transformer
    restart: unless-stopped
    depends_on:
      - metrics
    logging:
      driver: "json-file"
      options:
          max-file: "5"
          max-size: 10m
    environment:
      - STATSD_SERVER_HOST=${STATSD_SERVER_HOST}
      - STATSD_SERVER_PORT=${STATSD_SERVER_PORT}

  metrics:
    image: prom/statsd-exporter:v0.22.4
    container_name: $W9_ID-metrics
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
          max-file: "5"
          max-size: 10m

volumes:
  postgres_data:
    
networks:
  default:
    name: $W9_NETWORK
    external: true
