# image: https://hub.docker.com/r/plexinc/pms-docker
# docs: https://github.com/plexinc/pms-docker/blob/master/docker-compose-bridge.yml.template

version: '3.8'

services:
  pmmserver:
    image: $W9_REPO:$W9_VERSION
    container_name: $W9_ID
    ports:
      - $W9_HTTP_PORT_SET:32400
    env_file: .env
    environment:
      - TZ=Asia/Shanghai
      - PLEX_CLAIM=$W9_RCODE
      - ADVERTISE_IP=http://$W9_URL
    volumes:
      - config:/config
      - transcode:/transcode
      - data:/data
    restart: unless-stopped

volumes:
  config:
  transcode:
  data:

networks:
  default:
    name: $W9_NETWORK
    external: true
