# {{ trademark }} on Docker

This is an **[Docker Compose template](https://github.com/Websoft9/docker-library)** powered by [Websoft9](https://www.websoft9.com) based on Docker for {{ trademark }}:

- community: {{ version }}, latest

## Install

You can install this {{ trademark }} by [How to use it?](https://github.com/Websoft9/docker-library#how-to-use-it).

If you want use {{ trademark }} with **Websoft9 Business Support** free, you can [subscribe {{ trademark }}](https://www.websoft9.com/apps) on Cloud platform

## Documentation

[{{ trademark }} Administrator Guide](https://support.websoft9.com/docs/{{ name }}) powered by Websoft9

<!-- TODO: update requirements and deployment notes after upstream research -->
