{{
  "name": "{name}",
  "trademark": "{trademark}",
  "release": false,
  "fork_url": "{github_url}",
  "version_from": "{image_url}",
  "upstream": {{
    "image": "{image_url}",
    "docs": {docs_json}
  }},
  "edition": [
    {{
      "dist": "community",
      "version": ["{version}", "latest"]
    }}
  ],
  "requirements": {{
    "cpu": "1",
    "memory": "1",
    "disk": "1",
    "url": "{install_url}"
  }}
}}
