# image,docs: https://hub.docker.com/u/apachestreampipes

services:

  ui:
    image: $W9_REPO:$W9_VERSION
    container_name: $W9_ID
    restart: unless-stopped
    env_file: .env
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: 12m
    environment:
      - SP_HTTP_SERVER_ADAPTER_ENDPOINT=$W9_ID-extensions:8090
    ports:
      - $W9_HTTP_PORT_SET:8088
    depends_on:
      - couchdb
      - backend
    volumes:
      - nginx:/etc/nginx/

  backend:
    image: apachestreampipes/backend:$W9_VERSION
    container_name: $W9_ID-backend
    restart: unless-stopped
    env_file: .env
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: 12m
    depends_on:
      - couchdb
    environment:
      - SP_PRIORITIZED_PROTOCOL=$W9_ID-nats
    volumes:
      - backend:/root/.streampipes

  couchdb:
    image: couchdb:3.3.1
    container_name: $W9_ID-couchdb
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: 12m
    environment:
      - COUCHDB_USER=admin
      - COUCHDB_PASSWORD=admin
    volumes:
      - couchdb:/opt/couchdb/data

  influxdb:
    image: influxdb:2.6
    container_name: $W9_ID-influxdb
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: 12m
    environment:
      - INFLUXDB_DATA_ENGINE=tsm1
      - INFLUXDB_REPORTING_DISABLED=false
      - INFLUXDB_ADMIN_ENABLED=true
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=sp-admin
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=sp-admin
      - DOCKER_INFLUXDB_INIT_ORG=sp
      - DOCKER_INFLUXDB_INIT_BUCKET=sp
      - DOCKER_INFLUXDB_INIT_MODE=${SP_INFLUX_INIT_MODE}
    volumes:
      - influxdb:/var/lib/influxdb
      - influxdb2:/var/lib/influxdb2

  nats:
    image: nats:latest
    container_name: $W9_ID-nats
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: 12m

  extensions-all-iiot:
    image: apachestreampipes/extensions-all-iiot:$W9_VERSION
    container_name: $W9_ID-extensions
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: 12m

volumes:
  backend:
  couchdb:
  influxdb:
  influxdb2:
  nginx:

networks:
  default:
    name: ${W9_NETWORK}
    external: true
