# image: https://hub.docker.com/r/p3terx/aria2-pro
# github: https://github.com/aria2/aria2
# docs: https://aria2.github.io/manual/en/html/index.html
# compose: https://github.com/P3TERX/Aria2-Pro-Docker/blob/master/docker-compose.yml

version: "3.8"

services:

  Aria2-Pro:
    image: $W9_REPO:$W9_VERSION
    container_name: $W9_ID
    restart: unless-stopped
    # Variables used in configuration file are not expanded, refer to: https://aria2.github.io/manual/en/html/aria2c.html#aria2-conf
    environment:
      - PUID=65534
      - PGID=65534
      - UMASK_SET=022
      - RPC_SECRET=$W9_POWER_PASSWORD
      - RPC_PORT=6800
      - LISTEN_PORT=6888
      - DISK_CACHE=64M
      - IPV6_MODE=false
      - UPDATE_TRACKERS=true
      - CUSTOM_TRACKER_URL=
      - TZ=Asia/Shanghai
    volumes:
      - config:/config
      - downloads:/downloads
    ports:
      - $W9_RPC_PORT_SET:6800
      # BT download port
      - $W9_DHT_PORT_SET:6888
      - $W9_DHT_PORT_SET:6888/udp
    # Since Aria2 will continue to generate logs, limit the log size to 1M to prevent your hard disk from running out of space.
    logging:
      driver: json-file
      options:
        max-size: 1m

  AriaNg:
    image: p3terx/ariang
    container_name: $W9_ID-ariang
    command: --port 6880 --ipv6
    ports:
      - $W9_HTTP_PORT_SET:6880
    restart: unless-stopped
    env_file: .env
    logging:
      driver: json-file
      options:
        max-size: 1m

networks:
  default:
    name: ${W9_NETWORK}
    external: true

volumes:
  config:
  downloads:
