# this docker-compose make from https://docs.graylog.org/en/4.0/pages/installation/docker.html#quick-start
# Graylog: https://hub.docker.com/r/graylog/graylog/

version: '3.8'
services:
  graylog:
    image: graylog/graylog:${APP_VERSION}
    container_name: ${APP_NAME}
    environment:
      # CHANGE ME (must be at least 16 characters)!
      - GRAYLOG_PASSWORD_SECRET=somepasswordpepper
      # echo -n admin | shasum -a 256, default password is admin
      - GRAYLOG_ROOT_PASSWORD_SHA2=${APP_ENCRYPT_PASSWORD}
      - GRAYLOG_HTTP_BIND_ADDRESS=0.0.0.0:9000
    entrypoint: /usr/bin/tini -- wait-for-it elasticsearch:9200 --  /docker-entrypoint.sh
    restart: unless-stopped
    depends_on:
      - mongo
      - elasticsearch
    ports:
      # Graylog web interface and REST API
      - ${APP_HTTP_PORT}:9000
      # Syslog TCP
      - 1514:1514
      # Syslog UDP
      - 1514:1514/udp
      # GELF TCP
      - 12201:12201
      # GELF UDP
      - 12201:12201/udp
    volumes: 
      - graylog_data:/usr/share/graylog/data/
      - graylog_plugin:/usr/share/graylog/plugin

  mongo:
    image: mongo:${APP_DB_MONGODB_VERSION}
    container_name: ${APP_NAME}-mongo
    restart: unless-stopped
    volumes: 
      - mongo:/data/db

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:$APP_DB_ES_VERSION
    container_name: ${APP_NAME}-elasticsearch
    environment:
      - http.host=0.0.0.0
      - transport.host=localhost
      - network.host=0.0.0.0
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    deploy:
      resources:
        limits:
          memory: 1g
    restart: unless-stopped
    volumes: 
      - elasticsearch:/usr/share/elasticsearch/data

volumes: 
  graylog_data:
  graylog_plugin:
  elasticsearch:
  mongo:
  
networks:
  default:
    name: ${APP_NETWORK}
    external: true
