# image: https://hub.docker.com/_/xwiki
# docs: https://github.com/xwiki/xwiki-docker/blob/master/README.md

version: '3.8'

services:
  xwiki:
    image: $W9_REPO:$W9_VERSION
    container_name: ${W9_ID}
    ports:
      - $W9_HTTP_PORT_SET:8080
    volumes:
      - xwiki:/usr/local/xwiki
    env_file:
      - .env
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: mysql:${W9_DB_VERSION}
    container_name: ${W9_ID}-mysql
    restart: unless-stopped
    command:
      - "--character-set-server=utf8mb4"
      - "--collation-server=utf8mb4_bin"
      - "--explicit-defaults-for-timestamp=1"
    volumes:
      - mysql:/var/lib/mysql
    environment:
      MYSQL_DATABASE: ${W9_ID}
      MYSQL_ROOT_PASSWORD: ${W9_POWER_PASSWORD}

networks:
  default:
    name: $W9_NETWORK
    external: true

volumes:
  xwiki:
  mysql: