[mysqld]

#log_error=/var/log/mysql/error.log

#general-log=0
#general-log-file=/var/log/mysql/mysql.log

#log_bin=mysql-bin
#log_bin=/var/log/mysql/mysql-bin.log

#slow_query_log_file=/var/log/mysql/mysql-slow.log
#long_query_time=10

#server-id=1
