# image,docs: https://hub.docker.com/_/wordpress/

services:
  init:
    image: docker:latest
    container_name: $W9_ID-init
    restart: on-failure
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./src/init.sh:/data/init.sh
    env_file: .env
    depends_on:
      - varnish
    working_dir: /data
    command: ["sh", "-c", "chmod +x /data/init.sh;/data/init.sh"]

  wordpress:
    image: $W9_REPO:$W9_VERSION
    container_name: $W9_ID-wordpress
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
          max-file: "5"
          max-size: 10m
    env_file: .env
    depends_on:
      - mysql
    volumes:
      - wordpress:/var/www/html
      - ./src/php_exra.ini:/usr/local/etc/php/conf.d/php_exra.ini
      
  mysql:
    image: mysql:$W9_DB_VERSION
    container_name: $W9_ID-mysql
    restart: unless-stopped
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --innodb_log_buffer_size=30M
    volumes:
      - mysql_data:/var/lib/mysql
    environment:
      MYSQL_DATABASE: $W9_ID
      MYSQL_USER: $W9_ID
      MYSQL_PASSWORD: $W9_POWER_PASSWORD
      MYSQL_ROOT_PASSWORD: $W9_POWER_PASSWORD
      
  varnish:
    image: varnish:latest
    container_name: $W9_ID
    restart: unless-stopped
    user: root
    ports:
      - $W9_HTTP_PORT_SET:80
    env_file: .env
    depends_on:
      - wordpress
    tmpfs:
      - /var/lib/varnish/varnishd:exec
    command: varnishd -F -b $W9_ID-wordpress:80 -a :80 -s malloc,$VARNISH_SIZE

volumes:
  wordpress:
  mysql_data:

networks:
  default:
    name: $W9_NETWORK
    external: true
