version: '3.8'
services:
  db:
    image: mariadb:$APP_DB_MARIADB_VERSION
    container_name: $APP_NAME-db
    restart: unless-stopped
    ports:
      - $APP_DB_MARIADB_PORT:3306
    environment:
      - MYSQL_ROOT_PASSWORD=$APP_DB_MARIADB_PASSWORD
      - MYSQL_LOG_CONSOLE=true
    volumes:
      - mysql_data:/var/lib/mysql

  memcached:
    image: memcached:$DB_MEMCACHED_VERSION
    container_name: $APP_NAME-memcached
    restart: unless-stopped
    entrypoint: memcached -m 256

  elasticsearch:
    image: seafileltd/elasticsearch-with-ik:$DB_ELASTICSEARCH_VERSION
    container_name: $APP_NAME-elasticsearch
    restart: unless-stopped
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    deploy:
      resources:
        limits:
          memory: 2G
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data  # Requested, specifies the path to Elasticsearch data persistent store.
    profiles:
      - pro
      
  seafile-pro:
    image: docker.seafile.top/seafileltd/seafile-pro-mc:$APP_VERSION
    container_name: $APP_NAME
    restart: unless-stopped
    ports:
      - "$APP_HTTP_PORT:80"
#     - "443:443"  # If https is enabled, cancel the comment.
    volumes:
      - seafile_data:/shared   # Requested, specifies the path to Seafile data persistent store.
    env_file: .env
    environment:
      - DB_HOST=$APP_NAME-db
      - DB_ROOT_PASSWD=$APP_DB_MARIADB_PASSWORD
      - TIME_ZONE=$APP_TIME_ZONE
      - SEAFILE_ADMIN_EMAIL=$APP_USER
      - SEAFILE_ADMIN_PASSWORD=$APP_PASSWORD    
      - SEAFILE_SERVER_LETSENCRYPT=false
      - SEAFILE_SERVER_HOSTNAME=$APP_URL
    depends_on:
      - db
      - memcached
      - elasticsearch
    profiles:
      - pro

  seafile-ce:
    image: seafileltd/seafile-mc:$APP_VERSION
    container_name: $APP_NAME
    restart: unless-stopped
    ports:
      - "$APP_HTTP_PORT:80"
#     - "443:443"  # If https is enabled, cancel the comment.
    volumes:
      - seafile_data:/shared   # Requested, specifies the path to Seafile data persistent store.
    env_file: .env
    environment:
      - DB_HOST=$APP_NAME-db
      - DB_ROOT_PASSWD=$APP_DB_MARIADB_PASSWORD
      - TIME_ZONE=$APP_TIME_ZONE
      - SEAFILE_ADMIN_EMAIL=$APP_USER
      - SEAFILE_ADMIN_PASSWORD=$APP_PASSWORD    
      - SEAFILE_SERVER_LETSENCRYPT=false
      - SEAFILE_SERVER_HOSTNAME=$APP_URL
    depends_on:
      - db
      - memcached
    profiles:
      - ce

networks:
  default:
    name: ${APP_NETWORK}
    external: true

volumes:
  seafile_data:
  elasticsearch_data:
  mysql_data:
