# image,docs: https://hub.docker.com/r/trafficserver/trafficserver
# Apache Traffic Server is a high-performance HTTP proxy and cache server

services:

  trafficserver:
    image: $W9_REPO:$W9_VERSION
    container_name: $W9_ID
    restart: unless-stopped
    ports:
      - $W9_HTTP_PORT_SET:8080
      # Management port
      - 8088:8088
    env_file: .env
    volumes:
      - trafficserver_config:/etc/trafficserver
      - trafficserver_logs:/var/log/trafficserver
      - trafficserver_cache:/var/cache/trafficserver
      - ./src/records.yaml:/opt/etc/trafficserver/records.yaml
      - ./src/remap.config:/opt/etc/trafficserver/remap.config
      - ./src/storage.config:/opt/etc/trafficserver/storage.config

volumes:
  trafficserver_config:
  trafficserver_logs:
  trafficserver_cache:
    
networks:
  default:
    name: $W9_NETWORK
    external: true