# image: https://hub.docker.com/r/portainer/portainer

version: '3.8'

services:
  portainer:
    image: ${W9_REPO}:${W9_VERSION}
    container_name: ${W9_ID}
    restart: unless-stopped
    env_file: .env
    ports:
      - ${W9_HTTP_PORT_SET}:9000
    volumes:
      - portainer:/data
      - /var/run/docker.sock:/var/run/docker.sock

networks:
  default:
    name: ${W9_NETWORK}
    external: true

volumes:
  portainer:
