# refer to: https://www.haproxy.org/download/2.5/doc/configuration.txt
# refer to: https://www.haproxy.org/download/x.x/doc/configuration.txt

global
  daemon
  log  /dev/log local0
  maxconn  5000
  pidfile  /var/run/haproxy.pid
  spread-checks  3
  stats  socket /run/haproxy-master.sock

defaults
  log  global
  maxconn  5000
  mode  http
  option  redispatch
  option  http-server-close
  option  splice-auto # version >=2.0
  option  dontlognull
  retries  3 
  timeout  http-request 20s 
  timeout  queue 1m 
  timeout  connect 10s
  timeout  client 1m
  timeout  server 1m
  timeout  check 10s

frontend http_front
   bind *:80
   mode http

   # Define Statistics for this front
   stats uri /stats
   stats realm HAProxy\ Statistics
   #stats auth admin:admin  # You can set it

   # Add welcome message for front
   acl url_root path -i /
   http-request return status 200 content-type text/plain string "Welcome to our service!" if url_root

   #default_backend http_bac
