# image: https://hub.docker.com/u/chaitin
# docs: https://help.waf-ce.chaitin.cn/node/01973fc6-e12f-789f-a8ff-e81d383c80bc

services:
  postgres:
    container_name: ${W9_ID}-pg
    restart: always
    image: ${W9_REPO}-postgres:15.2
    volumes:
      - data:/var/lib/postgresql/data
      - /etc/localtime:/etc/localtime:ro
    environment:
      - POSTGRES_USER=safeline-ce
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:?postgres password required}
    command: [postgres, -c, max_connections=600]
    healthcheck:
      test: pg_isready -U safeline-ce -d safeline-ce
  mgt:
    container_name: ${W9_ID}
    restart: always
    image: ${W9_REPO}-mgt:${W9_VERSION}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - mgt:/app/data
      - nginx-logs:/app/log/nginx:z
      - sock:/app/sock
      - /var/run:/app/run
    ports:
      - ${W9_HTTP_PORT_SET}:1443
    healthcheck:
      test: curl -k -f https://localhost:1443/api/open/health
    env_file: .env
    environment:
      - MGT_PG=postgres://safeline-ce:${POSTGRES_PASSWORD}@${W9_ID}-pg/safeline-ce?sslmode=disable
      - MGT_PROXY=${MGT_PROXY}
      - LUIGI_HOST=${W9_RCODE}-luigi
      - FVM_HOST=${W9_RCODE}-fvm
      - DETECTOR_HOST=${W9_RCODE}-detector
      - CHAOS_SERVE_ADDR=http://safeline-chaos:9000
      - CHAOS_CHALLENGE_ADDR=http://safeline-chaos:8080
    depends_on:
      - postgres
      - fvm
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "5"
  detect:
    container_name: ${W9_ID}-detector
    hostname: ${W9_RCODE}-detector
    restart: always
    image: ${W9_REPO}-detector:${W9_VERSION}
    volumes:
      - detector:/resources/detector
      - detector-logs:/logs/detector
      - /etc/localtime:/etc/localtime:ro
    environment:
      - LOG_DIR=/logs/detector
      - MGT_HOST=${W9_ID}-mgt
  tengine:
    container_name: ${W9_ID}-tengine
    restart: always
    image: ${W9_REPO}-tengine:${W9_VERSION}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/resolv.conf:/etc/resolv.conf:ro
      - nginx:/etc/nginx
      - detector:/resources/detector
      - chaos:/resources/chaos
      - nginx-logs:/var/log/nginx:z
      - cache:/usr/local/nginx/cache
      - sock:/app/sock
    environment:
      - TCD_MGT_API=https://${W9_ID}-mgt:1443/api/open/publish/server
      - CHALLENGE_SERVER=safeline-chaos:8080
    ulimits:
      nofile: 131072
    network_mode: host
  luigi:
    container_name: ${W9_ID}-luigi
    hostname: ${W9_RCODE}-luigi
    restart: always
    image: ${W9_REPO}-luigi:${W9_VERSION}
    environment:
      - MGT_IP=${W9_ID}-mgt
      - DETECTOR_HOST=${W9_ID}-detector
      - LUIGI_PG=postgres://safeline-ce:${POSTGRES_PASSWORD}@${W9_ID}-pg/safeline-ce?sslmode=disable
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - luigi:/app/data
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "5"
    depends_on:
      - detect
      - mgt
  fvm:
    container_name: ${W9_ID}-fvm
    hostname: ${W9_RCODE}-fvm
    restart: always
    image: ${W9_REPO}-fvm:${W9_VERSION}
    environment:
      - MGT_HOST=${W9_ID}-mgt
      - DETECTOR_HOST=${W9_ID}-detector
    volumes:
      - /etc/localtime:/etc/localtime:ro
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "5"
  chaos:
    container_name: safeline-chaos
    restart: always
    image: ${W9_REPO}-chaos:${W9_VERSION}
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "10"
    environment:
      - DB_ADDR=postgres://safeline-ce:${POSTGRES_PASSWORD}@${W9_ID}-pg/safeline-ce?sslmode=disable
    volumes:
      - sock:/app/sock
      - chaos:/app/chaos

volumes:
  data:
  mgt:
  sock:
  detector:
  luigi:
  nginx:
  chaos:
  cache:
  nginx-logs:
  detector-logs:


networks:
  default:
    external: true
    name: $W9_NETWORK