# {{trademark}} on Docker  

This is an **Docker Compose solution** powered by [Websoft9](https://www.websoft9.com) based on Docker for {{trademark}}:

{% for ed in edition %}
 - {{ed.dist}}:  {{ ed.version | join(', ') }}
{% endfor %}

## System Requirements

The following are the minimal [recommended requirements]({{requirements.url}}):

* **RAM**: {{requirements.memory}} GB or more
* **CPU**: {{requirements.cpu}} cores or higher
* **Disk**: at least {{requirements.disk}} GB of free space
* **bandwidth**: more fluent experience over 100M  

## Install

You can install this {{trademark}} by [How to use it?](https://github.com/Websoft9/docker-library#how-to-use-it).   

If you want use {{trademark}} with **Websoft9 Business Support** free, you can [subscribe {{trademark}}](https://www.websoft9.com/apps) on Cloud platform

## Documentation

[{{trademark}} Administrator Guide](https://support.websoft9.com/docs/{{name}}) powered by Websoft9
