# image: chaitin-registry.cn-hangzhou.cr.aliyuncs.com/monkeycode
# docs: https://monkeycode.docs.baizhi.cloud/node/0197c080-6439-72cd-b0d5-5ce3a3221942

services:
  db:
    image: chaitin-registry.cn-hangzhou.cr.aliyuncs.com/basic/pgvector:pg17
    container_name: monkeycode-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: chaitin-registry.cn-hangzhou.cr.aliyuncs.com/basic/redis:8.0-alpine3.21
    container_name: monkeycode-redis
    restart: unless-stopped
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}", "--appendonly", "yes", "--appendfilename", "appendonly.aof", "--save", "900 1", "--save", "300 10", "--save", "60 10000"]
    volumes:
      - redis_data:/data

  server:
    image: ${W9_REPO}:${W9_VERSION}
    container_name: monkeycode-server
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    restart: unless-stopped
    environment:
      MONKEYCODE_READ_ONLY: false
      MONKEYCODE_SERVER_PORT: 80
      MONKEYCODE_ADMIN_PASSWORD: ${ADMIN_PASSWORD}
      MONKEYCODE_DATABASE_MASTER: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@monkeycode-db:5432/${POSTGRES_DB}?sslmode=disable&timezone=Asia/Shanghai
      MONKEYCODE_DATABASE_SLAVE: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@monkeycode-db:5432/${POSTGRES_DB}?sslmode=disable&timezone=Asia/Shanghai
      MONKEYCODE_REDIS_PASS: ${REDIS_PASSWORD}
      MONKEYCODE_DATA_REPORT_KEY: ${DATA_REPORT_KEY}
    volumes:
      - logs:/app/request/logs
      - static:/app/static

  frontend:
    image: chaitin-registry.cn-hangzhou.cr.aliyuncs.com/monkeycode/frontend:v1.22.3
    container_name: ${W9_ID}
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "$W9_HTTP_PORT_SET:80"
        
  scanner:
    image: chaitin-registry.cn-hangzhou.cr.aliyuncs.com/monkeycode/scanner:v1.14.0
    container_name: monkeycode-scanner
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '2.0'
          memory: 4G
    volumes:
      - static:/app/static
        
  ai-worker:
    image: chaitin-registry.cn-hangzhou.cr.aliyuncs.com/monkeycode/aiworker:v1.22.1
    container_name: monkeycode-aiworker
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ai_worker:/app/data
    environment:
      - DIND_PATH_ROOT=/data/monkeycode/data/ai-worker
      - GIT_SSL_NO_VERIFY=${GIT_SSL_NO_VERIFY:-false}
    command: ["/app/infinitemonkey", "worker", "--redis-host", "monkeycode-redis", "--redis-db", "0", "--redis-password", "${REDIS_PASSWORD}"]

volumes:
  ai_worker:
  static:
  logs:
  redis_data:
  postgres_data:

networks:
  default:
    name: ${W9_NETWORK}
    external: true
