# image: https://hub.docker.com/r/thingsboard/tb-postgres/
# docs: https://thingsboard.io/docs/user-guide/install/docker/


version: '3.8'

services:
  thingsboard:
    image: $W9_REPO:$W9_VERSION
    container_name: $W9_NAME
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - '${W9_HTTP_PORT}:9090'
      - '${W9_MQTT_PORT}:1883'
      - '${W9_RPC_PORT}:7070'
      - '${W9_UDP_PORT}:5683-5688/udp'
    environment:
      TB_QUEUE_TYPE: kafka
      TB_KAFKA_SERVERS: $W9_NAME-kafka:9092
    depends_on:
      - kafka
    volumes:
      - 'db:/data'
      - 'logs:/var/log/thingsboard'
      
  zookeeper:
    restart: unless-stopped
    image: "zookeeper:3.5"
    container_name: $W9_NAME-zookeeper
    ports:
      - "$W9_ZK_PORT:2181"
    environment:
      ZOO_MY_ID: 1
      ZOO_SERVERS: server.1=zookeeper:2888:3888;zookeeper:2181

  kafka:
    restart: unless-stopped
    image: wurstmeister/kafka
    container_name: $W9_NAME-kafka
    depends_on:
      - zookeeper
    ports:
      - "$W9_KAFKA_PORT:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: INSIDE://:9093,OUTSIDE://:9092
      KAFKA_ADVERTISED_LISTENERS: INSIDE://:9093,OUTSIDE://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INSIDE:PLAINTEXT,OUTSIDE:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INSIDE
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

networks:
  default:
    name: ${W9_NETWORK}
    external: true

volumes:
  db:
  logs: