# docs: https://localai.io/basics/getting_started/
# image: https://hub.docker.com/r/localai/localai/tags

services:

  localai:
    image: $W9_REPO:$W9_VERSION
    container_name: $W9_ID
    restart: unless-stopped
    ports:
      - $W9_HTTP_PORT_SET:8080
    env_file: .env

networks:
  default:
    name: $W9_NETWORK
    external: true
